@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--light-primary: #f9faf8;
	--light-secondary: #e5e7eb;
	--dark-primary: #1f2937;
	--accent: #3882f6;

	--ff: 'roboto';
	--fs-3xl: 48px;
	--fs-2xl: 36px;
	--fs-xl: 24px;
	--fs-l: 18px;
	--fs-m: 16px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff), sans-serif;
}

a {
	text-decoration: none;
}

.container {
	width: 900px;
	margin: 0 auto;
}

/* header */
.header {
	background-color: #1f2937;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
}

.nav-logo {
	color: var(--light-primary);
	font-weight: bold;
	font-size: var(--fs-xl);
}

.nav-links {
	display: flex;
	gap: 16px;
}

.link {
	color: var(--light-secondary);
}
