@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--light-darker: #e5e7eb;
	--light: #f9faf8;
	--light-lighter: #fff;
	--dark-darker: #1f2937;
	--dark: #2e2e2e;
	--dark-lighter: #555;
	--accent: #3882f6;

	--ff: 'roboto';
	--fs-3xl: 48px;
	--fs-2xl: 36px;
	--fs-xl: 24px;
	--fs-l: 18px;
	--fs-m: 16px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff), sans-serif;
	line-height: 1.5;
	color: var(--dark);
}

a {
	text-decoration: none;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	color: var(--light);
	font-weight: 600;
	background-color: var(--accent);
	border-radius: 8px;
	padding: 8px 32px;
}

/* header */
.header {
	background-color: var(--dark-darker);
}

/* header nav */
.nav {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
}

.nav-logo {
	color: var(--light);
	font-weight: bold;
	font-size: var(--fs-xl);
}

.nav-links {
	display: flex;
	align-items: center;
	gap: 16px;
}

.link {
	color: var(--light-darker);
}

/* header hero */
.hero {
	display: flex;
	gap: 64px;
	padding-top: 32px;
	padding-bottom: 96px;
	align-items: center;
}

.hero-content {
	display: flex;
	flex-direction: column;
}

.hero-title {
	color: var(--light);
	font-weight: 900;
	font-size: var(--fs-3xl);
	line-height: 1;
	margin-bottom: 8px;
}

.hero-subtext {
	color: var(--light-darker);
	font-size: var(--fs-l);
	line-height: 1.25;
	margin-bottom: 16px;
}

.hero-image {
	max-width: 50%;
}

/* main */
.main {
	padding: 32px 0;
}

.section-title {
	color: var(--dark-darker);
	text-align: center;
	font-size: var(--fs-2xl);
	font-weight: 900;
	margin-bottom: 8px;
}

/* information */
.informations {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	padding: 0 64px;
}

.information {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.information-image {
	height: 120px;
}

.information-description {
	text-align: center;
	color: var(--dark-lighter);
}
