@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--light-primary: #f9faf8;
	--light-secondary: #e5e7eb;
	--dark-primary: #1f2937;
	--accent: #3882f6;

	--ff: 'roboto';
	--fs-3xl: 48px;
	--fs-2xl: 36px;
	--fs-xl: 24px;
	--fs-l: 18px;
	--fs-m: 16px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff), sans-serif;
	line-height: 1.6;
}

a {
	text-decoration: none;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	color: var(--light-primary);
	font-weight: 600;
	background-color: var(--accent);
	border-radius: 8px;
	padding: 8px 32px;
}

/* header */
.header {
	background-color: #1f2937;
}

/* header nav */
.nav {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
}

.nav-logo {
	color: var(--light-primary);
	font-weight: bold;
	font-size: var(--fs-xl);
}

.nav-links {
	display: flex;
	align-items: center;
	gap: 16px;
}

.link {
	color: var(--light-secondary);
}

/* header hero */
.hero {
	display: flex;
	gap: 64px;
	padding-top: 32px;
	padding-bottom: 96px;
	align-items: center;
}

.hero-content {
	display: flex;
	flex-direction: column;
}

.hero-title {
	color: var(--light-primary);
	font-weight: 900;
	font-size: var(--fs-3xl);
	line-height: 1;
	margin-bottom: 8px;
}

.hero-subtext {
	color: var(--light-secondary);
	font-size: var(--fs-l);
	line-height: 1.25;
	margin-bottom: 16px;
}

.hero-image {
	max-width: 50%;
}
